<h1>重置密码</h1>

<p><strong>尊敬的<%= @user.name %>: </strong></p>

<p style="text-indent: 2em;">
  您好！请点击下面的链接，重置您的密码.
</p>

<% @user.reset_token = User.new_token unless @user.reset_token %> 

<%= link_to "重置密码", edit_password_reset_url(@user.reset_token, email: @user.email) %>